<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Using the Sweet Alert animations</title>
	<link href="{{url_for('static',filename='style2.css')}}" type="text/css" rel="stylesheet"/>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="f-modal-alert">
	<div class="f-modal-icon f-modal-success animate">
		<span class="f-modal-line f-modal-tip animateSuccessTip"></span>
		<span class="f-modal-line f-modal-long animateSuccessLong"></span>
		<div class="f-modal-placeholder"></div>
		<div class="f-modal-fix"></div>
	</div>
	<br><H2>{{result}}</H2>>
</div>
<!-- partial -->
</body>
</html>
