<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Using the Sweet Alert animations</title>
 <link href="{{url_for('static',filename='style2.css')}}" type="text/css" rel="stylesheet"/>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="f-modal-alert">
	<div class="f-modal-icon f-modal-warning scaleWarning">
		<span class="f-modal-body pulseWarningIns"></span>
		<span class="f-modal-dot pulseWarningIns"></span>
	</div>
	<br><H1>{{result}}</H1>>

</div>
<!-- partial -->
</body>
</html>
